<%= form_with model: @kitten do |form| %>
  <div>
    <%= form.label :name, "Name" %>
    <%= form.text_field :name, autocomplete: 'off' %>
  </div>
  <div>
    <%= form.label :age, "Age" %>
    <%= form.text_field :age, autocomplete: 'off' %>
  </div>
  <div>
    <%= form.label :cuteness, "Cuteness" %>
    <%= form.text_field :cuteness, autocomplete: 'off' %>
  </div>
  <div>
    <%= form.label :softness, "Softness" %>
    <%= form.text_field :softness, autocomplete: 'off' %>
  </div>
  <div>
  <%= form.submit 'Summon' %>
  </div>
<% end %>